	body {
			font-size: 100px;
			color: black;
			font-family: "Helvetica";
			float: middle;
			align-items: center;
			}

		h1 {
			font-size: 85px;
			font-family: serif;
		}
		p {
			font-size: 20px;
			font-weight: bold;
			font-family: serif;
			background-color: grey;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-top: 15px;
			padding-right: 15px;
			color: black;
			border-radius: 10px;
			alignment-baseline: center;
		}
		.col-md-4 {
			font-size: 25px;
			font-weight:bolder;
			background-color: grey;
			padding-bottom: 10px;
			padding-left: 10px;
			padding-top: 10px;
			padding-right: 10px;
			color: black;
			border-radius: 10px;
			alignment-baseline: center;
			border-width: 5px;
			border-color: white;
		}
		#piano {
			align-content: center;
			border-width: 5px;
			border-color: white;
		}

		#time {
			align-content: right;
			border-width: 5px;
			border-color: white;
		}
