	body {
			font-family: monospace;
			font-size: 100px;
			color: black;
			background-color: rgb(135,206,250);
			}

		h1 {
			font-size: 85px;
			font-family: serif;
		}
		<div class="row">
 			<div class="col-md-4">.col-md-4</div>
 				<img src="Flipping-Through.gif">
  			<div class="col-md-4">.col-md-4</div>
  			<div class="col-md-4">.col-md-4</div>
		</div>
		#Entire {
			margin: 20px 20px 20px 20px;

		}
		#logo {
			width: 500px;
		}

		#info {
			background-color: white;
			padding-bottom: 200px;
			padding-left: 20px;
			padding-top: 20px;
			padding-right: 20px;
			color: black;
			margin: 10px;
			border-radius: 25px;
		}		
		#portrait {
			float: left;
			width: 300px;
		}
		#herewego {
			font-size: 30px;
			font-weight:bolder;
		}
		#list {
			font-size: 25px;
			margin-left: 280px;
		}
		#details {
			font-size: 25px;
			border-top: 3px solid red;
            border-bottom: 3px solid red;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-left: 310px;
            margin-right: 100px;

		}
